@media screen and (max-width:576px) {
    .nav_item {
        display: none;
    }

    .moblie_menu{
        display: block;
        color: white;
    }
    .nav_bar{
        margin: 52px 20px;
    }

    /* bannner res prart */

    .banner-container {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .banner-sub-conttainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .des-1 {

        width: 8rem;
        height: 4rem;
        position: absolute;
        top: 10%;
        left: 55%;
    }

    .banner-title-1 {
        font-size: 20px;
        font-weight: 900;
        color: white;
    }

    .banner-sub-title-1 {
        font-size: 10px;
        color: rgba(255, 255, 255, 0.65);
    }

    .des-2 {

        position: absolute;
        width: 8rem;
        height: 4rem;
        top: 45%;
        left: 5%;
    }

    .banner-title-2 {
        font-size: 15px;
        font-weight: 900;
        color: white;
    }

    .banner-sub-title-2 {
        font-size: 10px;
        color: rgba(255, 255, 255, 0.65);
    }

    .b-title {
        color: white;
        font-size: 50px;
        font-weight: 900;

    }

    .btn-1 {
        display: none;
    }

    .btn-responsive {
        display: block;
    }
   

    .habits-img-contaner{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }

    /* run part css */

    .run_img{
        display: none;
    }
    /* .run_img_res {
        width: 100%;
        display: block;
        border-radius: 18px;
    } */
    .run_ex_contanier {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 20px;
        text-align: center;
        margin: 0%;
        gap: 20px;
        margin-top: 40px;
    }

    .run_extra_taxt {
        width: 100%;
        height: auto;
    }

    .run_extra_taxt h2 {
        font-size: 2rem;
    }

    .run_extra_taxt p {
        font-size: 0.85rem;
    }

    .run_img {
        width: 100%;
        height: auto;
        margin-top: 20px;
        display: block;
    }

    .btn_run {
        width: 50%;
        height: aut;
        margin-top: 20px;
    }
    
}