@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.display_flex{
    display: flex;
}
*{
    margin: 0;
    padding: 0;
}
.dark_two{
    color: rgba(255, 255, 255, 0.5)
}

body{
    background: black;
}
.nav_bar{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1060px;
    height: 46px;
    margin: 0 auto;
    margin-top: 20px;
    /* border: 2px solid red;
     */
     
      
}
.brand{
    color: rgb(230, 83, 60);
    font-size: 2.2rem;
    font-weight: 800;
}
.nav_item{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
   
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    line-height: 120%;
    letter-spacing: 0%;
    padding: 0;
    width: 465px;
height: 46px;
    gap: 45px;
   

}
.normal_btn{
    background-color: transparent;
    border: none;
    color: white;
    gap: 47px;
}

.home_btn{
    font-weight: 600;
    background: rgb(230, 83, 60);
    border-radius: 46px;
    width: 92px;
    height: 39px;
    border: none;
    color: white;
    align-items: center;
    text-align: center;
    
}

.moblie_menu{
    display: none;
    color: white;
}


/* banner css strat */

.banner {
    max-width: 1060px;
    /* border: 2px solid rebeccapurple; */
    
    margin: 0 auto;
    /* margin-bottom: 100px; */
   margin-top: 100px;
}

.b-title {
    color: white;
    font-size: 78px;
    font-weight: 900;

}

.span {
    font-family: miama;
    font-weight: 400;
}

.b-sub-title {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400px;
    letter-spacing: 0.5px;
}

.btn-primary {
    display: flex;
    gap: 14px;

}

.btn-responsive {
    display: none;
}

.btn {

    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 16px 40px;
    border-radius: 42px;

}

.btn-1 {
    background: rgb(230, 83, 60);
    border-style: none;
}

.btn-2 {
    background-color: black;
    border: 1px solid white;
}

.banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.description {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.b-sub-title {
    padding-top: 28px;
    padding-bottom: 28px;
}

.banner-sub-conttainer {
    position: relative;
}

.des-1 {
    width: 12rem;
    height: 6rem;
    position: absolute;
    top: 140px;
    left: 230px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding-top: 10px;
    text-align: center;
}

.des-2 {
    color: white;
    display: flex;
    align-items: end;
    width: 12rem;
    height: 6rem;
    ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
    position: absolute;
    top: 70%;
    left: -23%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);

}

.banner-title-1 {
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.banner-sub-title-1 {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.65);
}

.banner-title-2 {
    font-size: 24px;
    font-weight: 900;
    color: white;
}

.banner-sub-title-2 {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.65);
}

.img-1 img {
    width: 40px;
    height: 40px;
    align-items: center;

}



/* habits start css */

.habits{
    /* border: 1px saddlebrown solid; */
    max-width: 1060px;
    margin:  0 auto;
    margin-top: 80px;
}

.habit-title{
    font-size: 3rem;
    font-weight: 900;
    align-items: center;
    text-align: center;
    color: white;
}
.habit-subtitle{
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    
}
.habits-img-contaner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 20px;
}

.habits-img-cotaner1{
    text-align: center;
}
.habits-img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.habits-img-title{
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.habits-img-subtitle{
     font-size: .8rem;
     font-weight: 400px;text-align: center;
     margin-top: 10px;
}

/* run enjoy part */

.run_ex_contanier {
    max-width: 1060px;
    margin: 0 auto;
    height: 316px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.run_extra_taxt{
    width: 460px;
    height: 250px;
    /* border:  1px solid red; */
}
.run_extra_taxt h2{
    font-weight: 900;
    font-size: 3rem;
    color: white;
    margin-bottom: 10px;
}
.run_extra_taxt p{
    font-size: .9rem;
    font-weight: 400;
    margin-top: 10px;
}
.run_img_res {
    display: none;
}

.run_img {
    height: 250px;
    width: 366px;
    /* border: 1px solid rebeccapurple; */
    border-radius: 18px;
    /* padding-top: 25px; */
    /* padding-bottom: 25px; */

}



.run_img img {
    width: 100%;
    border-radius: 18px;
}

.habit-padding {

    padding-bottom: 34px;
}

.btn_run{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    color: white;
    background: rgb(230, 83, 60);
    margin-top: 30px;
}
/* run enjoy res part end */

/* table part */
.bmi-left-container h3{
    font-size: 1.75rem;
    font-weight: 900;
    color: white;
    padding-bottom: 50px;
  }
  .bmi-table{
    border-collapse: collapse;
    width: 320px;
    height: 216px;
    text-align: left;
  }
  .bmi-table th, td{
    padding-left: 20px;
  }
  .bmi-table th{
    font-size: 1rem;
    font-weight: 500;
  }
  .bmi-table_name{
    color: white;
  }
  .bmi-table td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.90rem;
    font-weight: 400;
  }
  
  .bmi-right-container {
    margin-top: 60px;
    width: 600px;
  }
  .bmi-right-container h3 {
    font-size: 1.75rem;
    font-weight: 900;
    padding-bottom: 20px;
    color: white;
  }
  .bmi-right-container p{
    padding-bottom: 35px;
  }
  .input-field input,select{
    width: 250px;
    height: 45px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: grey;
  }
  .input-field input {
    padding-left: 25px;
    width: 254px;
  }
  .input-field select{
    padding-left: 21px;
  }
  .Sex{
    width: 280px;
  }
  .input-field{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
   .factor{
    margin-top: 15px;
    width: 588px;
    margin-bottom: 40px;
    padding-left: 20px;
   }
   .custom-calculate-btn{
    padding-left: 60px;
    padding-right: 60px;
   }



.input_table_container{
    width: 100%;
    height: auto;
    margin-top: 100px;
    background-color:  rgb(34, 34, 34);;
    border: 2px saddlebrown solid;
    
}
.bmi-calculator-section{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px saddlebrown sandybrown;
}
.btn_run2{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    color: white;
    background: rgb(230, 83, 60);
}



/* team */
.team_cantiner{
    border: 2px solid rebeccapurple;
    max-width: 1060px;
    margin: 0% auto;
    margin-top: 100px;
}

.team_1 {
    width: 300px;
    height: 250px;
    border-radius: 16px;

background: rgba(0, 0, 0, 0.2);
}
.team_1 img{
    left: 20px;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover
}

.team_text{
    color: aliceblue;
    margin-top: -50px;
    margin-left: 10px;
}
.team_img_contanier{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    justify-items: center;
    border-radius: 18px;
    padding: 20px;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.1);
    gap: 20px;
}




/* sp parrt css */
.join_now_container{
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 100px;
    /* border: 2px saddlebrown solid;
} */
}

.join_plan_contianer{
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid red; */
    max-width: 1060px;
    margin: 0% auto;
    margin-top: 50px;
   
    border-radius: 18px;
}
.plan_1{
    background: rgba(255, 255, 255, 0.1);
    color: aliceblue;
    border-radius: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
   
    
}
.plan_1 h1{
     font-size: 2rem;
     font-size: 600;
     
}
.plan_1 h2{
    font-size: 1.5rem;
    font-weight: 400;
}
.plan_1 p{
    color: rgba(255, 255, 255, 0.5);
    gap: 20px;
}
