@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.display_flex{
    display: flex;
}
*{
    margin: 0;
    padding: 0;
}

body{
    background: black;
}
.nav_bar{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1060px;
    height: 46px;
    margin: 0 auto;
    /* border: 2px solid red;
     */
     
      
}
.brand{
    color: rgb(230, 83, 60);
    font-size: 2.2rem;
    font-weight: 800;
}
.nav_item{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
   
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    line-height: 120%;
    letter-spacing: 0%;
    padding: 0;
    width: 465px;
height: 46px;
    gap: 45px;
   

}
.normal_btn{
    background-color: transparent;
    border: none;
    color: white;
    gap: 47px;
}

.home_btn{
    font-weight: 600;
    background: rgb(230, 83, 60);
    border-radius: 46px;
    width: 92px;
    height: 39px;
    border: none;
    color: white;
    align-items: center;
    text-align: center;
    
}

.moblie_menu{
    display: none;
    color: white;
}