@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.display_flex{
    display: flex;
}
*{
    margin: 0;
    padding: 0;
}
.dark_two{
    color: rgba(255, 255, 255, 0.5)
}

body{
    background: black;
}
.nav_bar{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1060px;
    height: 46px;
    margin: 0 auto;
    margin-top: 20px;
    /* border: 2px solid red;
     */
     
      
}
.brand{
    color: rgb(230, 83, 60);
    font-size: 2.2rem;
    font-weight: 800;
}
.nav_item{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
   
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    line-height: 120%;
    letter-spacing: 0%;
    padding: 0;
    width: 465px;
height: 46px;
    gap: 45px;
   

}
.normal_btn{
    background-color: transparent;
    border: none;
    color: white;
    gap: 47px;
}

.home_btn{
    font-weight: 600;
    background: rgb(230, 83, 60);
    border-radius: 46px;
    width: 92px;
    height: 39px;
    border: none;
    color: white;
    align-items: center;
    text-align: center;
    
}

.moblie_menu{
    display: none;
    color: white;
}


/* banner css strat */

.banner {
    max-width: 1060px;
    /* border: 2px solid rebeccapurple; */
    
    margin: 0 auto;
    /* margin-bottom: 100px; */
   margin-top: 100px;
}

.b-title {
    color: white;
    font-size: 78px;
    font-weight: 900;

}

.span {
    font-family: miama;
    font-weight: 400;
}

.b-sub-title {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400px;
    letter-spacing: 0.5px;
}

.btn-primary {
    display: flex;
    gap: 14px;

}

.btn-responsive {
    display: none;
}

.btn {

    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 16px 40px;
    border-radius: 42px;

}

.btn-1 {
    background: rgb(230, 83, 60);
    border-style: none;
}

.btn-2 {
    background-color: black;
    border: 1px solid white;
}

.banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.description {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.b-sub-title {
    padding-top: 28px;
    padding-bottom: 28px;
}

.banner-sub-conttainer {
    position: relative;
}

.des-1 {
    width: 12rem;
    height: 6rem;
    position: absolute;
    top: 140px;
    left: 230px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding-top: 10px;
    text-align: center;
}

.des-2 {
    color: white;
    display: flex;
    align-items: end;
    width: 12rem;
    height: 6rem;
    ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
    position: absolute;
    top: 70%;
    left: -23%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);

}

.banner-title-1 {
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.banner-sub-title-1 {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.65);
}

.banner-title-2 {
    font-size: 24px;
    font-weight: 900;
    color: white;
}

.banner-sub-title-2 {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.65);
}

.img-1 img {
    width: 40px;
    height: 40px;
    align-items: center;

}



/* habits start css */

.habits{
    border: 1px saddlebrown solid;
    max-width: 1060px;
    margin:  0 auto;
    margin-top: 80px;
}

.habit-title{
    font-size: 3rem;
    font-weight: 900;
    align-items: center;
    text-align: center;
    color: white;
}
.habit-subtitle{
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    
}
.habits-img-contaner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 20px;
}

.habits-img-cotaner1{
    text-align: center;
}
.habits-img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.habits-img-title{
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.habits-img-subtitle{
     font-size: .8rem;
     font-weight: 400px;text-align: center;
     margin-top: 10px;
}